.col-login {
  padding: 40px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
}
.login-form {
  border-radius: 10px;
  width: 384px;
  padding: 35px;
  background: white;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.05); 
}
.custom-button {
  font-weight: bold;
  background-color: #eb5757;
  border: #eb5757;
  height: 40px;
}

/* .custom-button span {
  padding: 5px;
} */
.custom-button:hover {
  font-weight: bold;
  background-color: #f55d3e;
  border: #f55d3e;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #eb5757;
  border-color: #eb5757;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #eb5757;
}
.ant-checkbox-wrapper:hover,
.ant-checkbox-wrapper-checked:hover {
  border-color: #eb5757;
}
.ant-checkbox-checked::after {
  border-color: #eb5757;
}
.login-form input,
.ant-input-prefix,
.ant-input-suffix {
  height: 40px;
  display: flex;
}
.ant-input-prefix,
.ant-input-suffix {
  justify-content: center;
  align-items: center;
}
.ant-spin-spinning {
  color: #e0e0e0;
}
.ant-col .ant-col-24 .col-login {
  background-color: blue;
}
/* div.layout-login{ 
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
} */
